<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Log In | Africa - Home of Africa Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Powered by Fortuna token" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="public/assets/images/favicon.ico">

    <%- include ('../Partials/HeaderStyle')  %>

</head>

<body class="authentication-bg">

<div class="home-btn d-none d-sm-block">
    <a href="/" class="text-dark"><i class="mdi mdi-home-variant h2"></i></a>
</div>
<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <a href="/" class="mb-5 d-block auth-logo">
                        <img src="public/assets/images/logo-light-own-trimmy.png" alt="" height="30" class="logo logo-dark">
                        <img src="public/assets/images/logo-light-own-trimmy.png" alt="" height="30" class="logo logo-light">
                    </a>
                </div>
            </div>
        </div>

        <div class="text-center">
            <script async src="https://telegram.org/js/telegram-widget.js?19" data-telegram-login="MyAfricaLink22Bot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>

<%- include ('../Partials/VendorScript')  %>

<!-- Begin FastSSL site seal HTML and JavaScript -->
<script type='text/javascript'>
    var __fsid = __fsid || [];__fsid.push(['FastSslClickID_GlkwhJpYjz02l35B626Edw==', 'm', 'black', 'GlkwhJpYjz02l35B626Edw==']);(function(){var rn=Math.floor(Math.random() * 100000000);  var cid=document.createElement('script');cid.async=true;cid.src='https://fastsslcertificates.com/siteseal/getjs?v='+rn;var s = document.getElementsByTagName('script');var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
</script>
<div id='FastSslClickID_GlkwhJpYjz02l35B626Edw==' data-language='en'>

</div>
<!-- End FastSSL site seal HTML and JavaScript -->

<script src="public/assets/js/app.js"></script>

<script type="text/javascript">
    function onTelegramAuth(user) {
        $.post("/post-login",
            {
                firstName: user.first_name,
                lastName: user.last_name,
                telegramId: user.id,
                username: user.username
            },
            function(data, status){
                window.location.href = '/';
            });
    }
</script>

</body>

</html>
