<!-- Right Sidebar -->
<div class="profile-right-bar">
    <div data-simplebar class="h-100">

        <div class="rightbar-title d-flex align-items-center px-3 py-4">

            <h5 class="m-0 me-2">Profile</h5>

            <a href="javascript:void(0);" class="profile-right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
        </div>


        <!-- Settings -->
        <div style="padding-left: 1em; padding-right: 1em;">
            <div class="row">
                <div class="col-12">
                    <!-- Simple card -->
                    <div class="card">
                        <img class="card-img-top img-fluid" id="profile-side-title-img" src="public/assets/images/title/<%= user.title %>.jpg" alt="<%= user.username %>">
                        <div class="card-body">
                            <div style="display: flex; justify-content: space-between">
                                <p class="card-text" id="profile-side-username"></p>
                                <div class="example" style="margin-right: 50px;" id="profileRightCountry">
                                    <form>
                                        <div class="form-item">
                                            <input id="country_selector" type="text" style="display: none;">
                                            <label for="country_selector" style="display:none;">Select a country here...</label>
                                        </div>
                                        <div class="form-item" style="display:none;">
                                            <input type="text" id="country_selector_code" name="country_selector_code" data-countrycodeinput="1" readonly="readonly" placeholder="Selected country code will appear here" />
                                            <label for="country_selector_code">...and the selected country code will be updated here</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <p class="card-text" id="profile-side-motto"></p>
                            <p class="card-text" id="profile-side-telegramId"></p>
                            <p class="card-text hidden" id="profile-side-joindate"></p>
                            <p class="card-text hidden" id="profile-side-overall"></p>
                            <p class="card-text" id="profile-side-rank"></p>
                            <p class="card-text" id="profile-side-fortuna"></p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mt-0 mb-2">Podium</h4>
                            <p id="profile-right-1st-rank"></p>
                            <p id="profile-right-2nd-rank"></p>
                            <p id="profile-right-3rd-rank"></p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mt-0"><i class="uil-award"></i> Trophies</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 row">
                                <div class="col-12 mb-3">
                                    <img src="public/assets/images/trophies/legend.jpg" style="width: 100%; border-radius: 15px;"/>
                                    <div class="locked-trophy" id="lockTrophy150">
                                        <div>
                                            <b><i class="uil-lock-alt"></i> Locked</b><br/>
                                            150 times 1<sup>st</sup> ranked
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <img src="public/assets/images/trophies/lion.jpg" style="width: 100%; border-radius: 15px;"/>
                                    <div class="locked-trophy" id="lockTrophy100">
                                        <div>
                                            <b><i class="uil-lock-alt"></i> Locked</b><br/>
                                            100 times 1<sup>st</sup> ranked
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <img src="public/assets/images/trophies/love.jpg" style="width: 100%; border-radius: 15px;"/>
                                    <div class="locked-trophy" id="lockTrophy50">
                                        <div>
                                            <b><i class="uil-lock-alt"></i> Locked</b><br/>
                                            50 times 1<sup>st</sup> ranked
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mt-0">Play History</h4>
                        </div>
                        <div class="card-body" id="profile-side-history">
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Attendance Chart</h4>

                            <div id="profile_side_pie_chart" class="apex-charts" dir="ltr"></div>

                            <p class="text-center" style="margin-top: 10px; margin-bottom: 0;" id="profile-side-attend"></p>
                            <p class="text-center" id="profile-side-unattend"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="profile-rightbar-overlay"></div>
