<div class="ticker-container" id="tickerWrap">
    <div class="ticker-background">
        <div class="ticker-logo">
            <img src="/public/assets/images/live-removebg-preview.png" />
        </div>
        <div class="ticker-wrap">
            <div class="ticker" id="tickerContent">
                <div class="ticker__item">Vice mlkshk crucifix beard chillwave meditation hoodie asymmetrical Helvetica.</div>
            </div>
        </div>
    </div>
</div>
