.profile-right-bar {
    background-color: #fff;
    -webkit-box-shadow: 0 0 24px 0 rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 2%);
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 2%);
    display: block;
    position: fixed;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 420px;
    z-index: 9999;
    float: right!important;
    right: -420px;
    top: 0;
    bottom: 0;
}

@media only screen and (max-width: 420px) {
    .profile-right-bar {
        width: 100vw;
        right: -calc(100vw + 10px);
    }
}


.profile-right-bar-enabled .profile-right-bar {
    right: 0;
}

.profile-rightbar-overlay {
    background-color: rgba(52,58,64,.55);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 9998;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.profile-right-bar-enabled .profile-rightbar-overlay {
    display: block;
}

.profile-right-bar .profile-right-bar-toggle {
    background-color: #444c54;
    height: 24px;
    width: 24px;
    line-height: 24px;
    color: #f5f6f8;
    text-align: center;
    border-radius: 50%;
}

#profileSideTable_wrapper .row:first-child div {
    width: 100%;
    text-align: center;
}

#profileSideTable_wrapper .row:last-child div {
    width: 100%;
    text-align: center;
}

div#profileSideTable_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center;
}

.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255 255 255 / 50%);
}

.locked-trophy {
    position: absolute;
    top: 0;
    width: calc(100% - 20px);
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
}


.dropup>.dropdown-menu {
    display: block;
}

.profile-right-bar .country-select .country-list {
    display: none;
}

.profile-right-bar .country-select .selected-flag .arrow {
    display: none;
}

.country-select .country-list  {
    width: 300px !important;
    right:  0;
    overflow-x: hidden;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}


.ticker-container {
    position: fixed;
    bottom: -64px;
    width: 100%;
    overflow: hidden;
    height: 64px;
    background-color: white;
    padding-left: 100%;
    box-sizing: content-box;
    padding: 0px;
    transition: all 0.5s;
    visibility: hidden;
}

.ticker-background {
    overflow: hidden;
    width: calc(100% - 10px);
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
}

.ticker-logo {
    background: #191919;
    position: absolute;
    width: 100px;
    z-index: 1000;
    padding-left: 10px;
    padding-right: 10px;
    height: 64px;
    display: flex;
    align-items: center;
}

.ticker-logo img {
    width: 100%;
}

.ticker-wrap {
    width: 100%;
    overflow: hidden;
    height: 64px;
    padding-left: 100%;
    box-sizing: content-box;
}

.ticker-container.show {
  bottom: 0;
  visibility: visible;
}

.ticker-wrap .ticker {

  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;

  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
 -webkit-animation-name: ticker;
         animation-name: ticker;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;

}

.ticker-wrap .ticker__item {

  display: inline-block;

  padding: 0 2rem;
  font-size: 20px;
  color: white;

}


#toast-container>div {
  opacity: 1 !important;
}

.toast-info {
    background-color: #2F96B4 !important;
    border: 1px solid rgba(0,0,0,.1) !important;
}

.skill-item {
    display: flex;
    align-items: center;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #dfe2e6;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.skill-item .disabled {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.skill-item img {
    margin-right: 10px;
    height: 40px;
}

.skill-item span {
    /* background: #077e2c; */
    color: black;
    padding: 1px 10px;
}



.avatar-upload {
    position: relative;
    max-width: 205px;
}

.avatar-upload.banner {
    max-width: 100%;
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    /* border: 6px solid #F8F8F8; */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #ced4da;
}

.avatar-upload.banner .avatar-preview {
    width: 100%;
    height: 200px;
    border-radius: 0px;
}

.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.avatar-upload.banner .avatar-preview > div {
    border-radius: 0px;
}

.avatar-upload .placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #838383;
    font-size: 18px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit .parsley-errors-list {
    position: absolute;
    top: 148px;
    width: 133px;
}

.avatar-upload.banner .avatar-edit .parsley-errors-list {
    right: -10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.buy-item {
    box-shadow: 0 2px 4px rgba(15, 34, 58, 0.59);
}

.buy-item .skill-icon {
    margin-right: 10px;
}

.buy-item .price {
    color: red;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 14px;
    right: 15px;
}

.bootbox-close-button {
    border: none !important;
}

.mission-card .card-title {
    font-size: 20px;
}

div.card-img-top {
    background-position: center;
    background-size: cover;
    /*height: 200px;*/
}

label.mission-fortuna {
    border: 1px solid #333;
    border-radius: 5px;
    line-height: 40px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}

.countdown-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    color: white;
    background: rgba(0,0,0,0.2);
    top: 0;
    padding-bottom: 20px;
}

.counter-number {
    width: 70%;
}

.buy-skill-table td, .buy-skill-table th {
    padding-bottom: 20px;
}

.locked-badge {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background: rgba(255,255,255,0.7);
}

.tournament-title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
    color: white;
    font-weight: bold;
    font-size: 21px;
	padding-bottom: 60px;
}

.award-box {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.award-box .award-img {
    border: 1px solid #333;
}

.slot-item {
    border: 1px solid #5b73e8;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    background: white;
}

.slot-card {
    background: rgba(91, 115, 232, 0.07);
}

.question-container{
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
    margin: auto;
}
.question-container > p{
    font-size: 32px;
}
.question-container .question{
    width: 100%;
}
.question-container .options{
    position: relative;
    padding-left: 40px;
}
.question-container #options label{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}
.question-container .options input{
    opacity: 0;
}

.question-container .question-title {
    color: white;
}

.question-container .checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.question-container .options input:checked ~ .checkmark:after {
    display: block;
}
.question-container .options .checkmark:after{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.question-container .options input[type="radio"]:checked ~ .checkmark{
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}
.question-container .options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}
.question-container .btn-primary{
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}
.question-container .btn-primary:hover{
    background-color: #21bf73;
    border: 1px solid #21bf73;
}
.question-container .btn-success{
    padding: 5px 25px;
    background-color: #21bf73;
}
@media(max-width:576px){
    .question-container .question{
        width: 100%;
        word-spacing: 2px;
    }
}
.countdown-container.question-start {
    position: relative;
    background: white;
    color: black;
}